@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
.banner {
    background-image: url('../images/background.jpg');
    font-family: 'Dancing Script', cursive;
    background-size: contain;
    width: 100%;
    margin: 5% auto;
    height: 450px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 15% 65% 20%;
    color: rgba(255, 255, 255, 0.9);
}
.header {
    text-align: center;
    grid-column-start: 2;
}
.container {
    user-select: none;
    grid-column-start: 2;
    padding-top: 10%;
}
.searchButton {
    grid-row-start: 3;
    grid-column-start: 2;
    width: 70%;
    margin: auto;
    height: 50%;
    background-color: transparent;
    outline: none;
    user-select: none;
    border: 2px solid rgb(181, 0, 45);
    font-family: inherit;
    color: white;
    font-size: 2em;
    border-radius: 30px;
    letter-spacing: 3px;
    cursor: pointer;
}
.searchButton:hover {
    color: rgb(181, 0, 45);
}
.searchButton:active {
    width: 68%;
    height: 48%;
    font-size: 1.95em;
}

/*====================SELECTCATEGORY=================*/
.categoryLabel {
    font-size: 1.5em;
}
.categorySelectBox {
    margin-top: 10%;
    width: 70%;
    height: 15%;
    border: 2px solid rgb(181, 0, 45);
    outline: none;
    background-color: rgba(251, 102, 108, 0.9);
    color: inherit;
}
.firstRow {
    grid-row-start: 1;
    grid-row-end: 3;
}
/*======================CHECKBOXES===================*/
.checkBoxGrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0 auto;
    height: 165px;
    overflow-y: scroll;
}
.checkBoxli {
    list-style-type: none;
    line-height: 2em;
}
.checkBoxLabel {
    font-size: 1.3em;
}
.checkBox {
    float: right;
    margin-top: 7%;
    zoom: 1.5;
}
.checkBoxContainer {
    padding-top: 20px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
}
.checkBoxText {
    margin-top: 0;
}
.nextButton {
    position: relative;
    margin-top: 50px;
    width: 30%;
    font-size: 1.5em;
    height: 40px;
}
.nextButton:active {
    width: 29%;
    height: 38px;
    font-size: 1.4em;
}
/*==============PRICE===============*/
.priceSelectCenter {
    margin-top: 10%;
}
.priceInput {
    width: 50%;
    max-width: 250px;
}

/*================MEDIA=================*/
@media only screen and (min-width: 1400px) {
    .banner {
        grid-template-columns: 20% 50% 30%;
    }
}
@media only screen and (max-width: 1023px) {
    .checkBoxGrid {
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (max-width: 700px) {
    .checkBoxGrid {
        grid-template-columns: auto;
        overflow-y: scroll;
    }
}
@media only screen and (max-width: 500px) {
    .nextButton {
        width: 40%;
    }
}
@media only screen and (max-width: 355px) {
    .container {
        padding-top: 50px;
    }
    .nextButton {
        width: 55%;
    }
}
@media only screen and (max-width: 300px) {
    .header > h1 {
        font-size: 1.5em;
    }
    .searchButton {
        font-size: 1.2em;
    }
}
/*==============SCROLLBAR=============*/
::-webkit-scrollbar {
    display: none;
}